.nombre{
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  padding-left: 5rem;
  text-decoration: none;
}
.binker{
  width: 600px;
  padding-left: 9rem;
  padding-right: 1rem;
}

.presentacion{
  background-color: #f4f6f8;
}

.presentacionul li{
  display: flex;
  flex-direction: row;
}
.presentacionul{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.presentaciontexto{
  display: block;
}

.presentacionimagen{
  display: flex;
  flex-direction: row;
}

.navbar{
  background-color: #f4f6f8;
  justify-content: end;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10rem;
  margin-top: 2rem;
}

.navbar li{
  padding-right: 1rem;
  font-weight: bold;
}

.navbar a{
  color: black;
  text-decoration: none;
}
.presentaciontexto button{
  font-weight: 500;
}